<div class="row">
  <a href="<%= url_for :action => "more" %>" class="post_block" id="more_link">

 <div class="large-12 panel columns" id="navigation_button">
   <% # i use polymorphic_url instead of link_to so it doesnt generate </a> and to generate the rails 3 version of url_for for the post, which includes the full url (including http), not just path %>
     <div class="row">
      <div class="large-12 columns">
        <h3 id="more_button">
            <% # The id in the following link is used to capture the click and use JS to process
               # the request. In case javascript is disabled, the link will go through to the
               # RESTful path defined here.
            %>
            <span id="more_button_text" class="post_title" style="text-decoration: underline;">Give Me More!</span>
             </h3>
      </div>       
     <% # link_to 'New Post', new_post_path %>
    </div>
  </div>
  </a>
</div>
  