<% 
       if(@posts.nil? or @posts.length == 0)
%>
<div class="row">
    <div class="twelve panel columns roundly" style="">  
        There are no posts available at this time. Feel free to <%= link_to "add one", new_post_path %>!
    </div>
</div>        
<%     else 
            count = @posts.length # set the counter
            @first = true
            # Loop Start
            @posts.each do |post| # start the loop
                # count -= 1 # count down 
                # if count < 1
                    # @last = true
                # end
%>
            <% # here we use the general view of posts, to have a consistent design across views %>
            <%= render :partial => "post_index", :locals => { :post => post} %>
<%              @first = false if @first
            end # end of loop
      end # end of empty posts check 
%>

<% unless @posts.nil? %>
  <%= render "posts/loader" %>
<% end %>