
<br/>
<div class="row">
    <div class="twelve panel columns roundly" style="">  
<% 
       if(@posts.nil? or @posts.length == 0)
%>
        There are no posts available at this time. Feel free to <%= link_to "add one", new_post_path %>!
<%     else 
            count = @posts.length # set the counter
            @first = true
            # Loop Start
            @posts.each do |post| # start the loop
                # count -= 1 # count down 
                # if count < 1
                    # @last = true
                # end
%>
            <% # here we use the general view of posts, to have a consistent design across views %>
            <%= render :partial => "post_index", :locals => { :post => post} %>
<%              @first = false if @first
            end # end of loop
      end # end of empty posts check 
%>
   </div>
</div>

<% unless @posts.nil? %>
<div class="row">
  <a href="<%= url_for :action => "more" %>" class="post_block" id="more_link">

 <div class="twelve panel columns" id="navigation_button">

   <% # i use polymorphic_url instead of link_to so it doesnt generate </a> and to generate the rails 3 version of url_for for the post, which includes the full url (including http), not just path %>
     <div class="row">
      <div class="twelve columns">
        <h3 id="more_button">
            <% # The id in the following link is used to capture the click and use JS to process
               # the request. In case javascript is disabled, the link will go through to the
               # RESTful path defined here.
            %>
            <span id="more_button_text" class="post_title" style="text-decoration: underline;">Give Me More!</span>
             </h3>
      </div>       
     <% # link_to 'New Post', new_post_path %>
    </div>
  </div>
  </a>
</div>

<% end %>

