
/* Thoughtware.TV */

 /* Header color definitions */ 
 .orange { color: orange; } 
/*.orange { color: black; } */
.cyan   { color: cyan;   } 
/*.cyan   { color: blue;   }*/
/*.green  { color: darkgreen;  }*/
.green { color: green; }
 .white  { color: white;  }
/*.white  { color: green;  }*/


/*   Shared Styles  */

	.post_domain   {	color: grey; 
						margin-top: -5px; 
						margin-bottom: 5px; 
						vertical-align: top; 
						margin-bottom: 20px;
						margin-left: 5px;
						/*margin-top: 15px;*/
					}

	.post_title_box {
					padding-left: 0px;
					margin-left: 0px;
					margin: 0px;
					padding: 0px;
	}
	.post_title {
					/*font-family: "MuseoSans-500", arial, sans-serif; 		*/
					font-family: "Roboto", sans-serif, arial; 		
					white-space: pre-wrap;       /* css-3 */
					white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
					white-space: -pre-wrap;      /* Opera 4-6 */
					white-space: -o-pre-wrap;    /* Opera 7 */
					word-wrap: break-word;       /* Internet Explorer 5.5+ */
					color: #1888b2; text-decoration: none; line-height: 1.1em; vertical-align: top;
				}

	.post_title_show { 
					font-family: "Roboto", arial, sans-serif; color: black;
					white-space: pre-wrap;       /* css-3 */
					white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
					white-space: -pre-wrap;      /* Opera 4-6 */
					white-space: -o-pre-wrap;    /* Opera 7 */
					word-wrap: break-word;       /* Internet Explorer 5.5+ */
					text-decoration: none; line-height: 1.1em; vertical-align: top;

	}				

	.post_url {
	}

	.image {
		text-align: center;
	}

	/* ded9cc  - crema
	   e0ded8  - cremagris
	   dfdedb  - gris 
	 */
	body { word-wrap: break-word; background: #dfdedb; font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; line-height: 1; color: #222222; position: relative; -webkit-font-smoothing: antialiased; }

	footer { background-color: #575551; color: white; height: 250px;
	 }

	footer a { color: #bfbbb0;}

	footer #footer-header { background-color: #ff9a04; height: 10px; margin-bottom: 20px; }

	#footer-menu { 
	}

	#footer-copy {
	}



	/* The box that contains thumbnail, vote and info */
	.post_info { 
				vertical-align: top; 
				float: left; 
				padding: 0px;
	}

	.post_title_box .columns {
		padding-left: 0px;
	}

	/* #A9A8A4
	   #e9e8e4 */
	.thumbnail { border: 3px solid #D9D8D4; padding: 1px; 
				-moz-border-radius: 10px; border-radius: 10px;
			   }

	.navigator { border: 5px solid #e9e8e4; padding: 1px; 
				-moz-border-radius: 10px; border-radius: 10px;  }

	.navigator .left { float: left;  vertical-align: middle;}
	.navigator .right { float: right; vertical-align: middle;}	

	.roundly {
				margin-top: 5px; border: 1px solid #b4b0a7;
			   -moz-border-radius: 15px; border-radius: 15px; padding: 0px;
			 }

	#navigation_button { background: #fff; border: 2px solid #b4b0a7; cursor: pointer; text-align: center; -moz-border-radius: 0 0 15px 15px; border-radius: 0 0 15px 15px;}
	#navigation_button:hover { background-color: #d9f2ff;}	
	/*#more_button:hover { background-color: #b1d9ee;}		*/
	#navigation_button:hover a { color: #0f7db9;}	

	#more_button {

	}

	.post_block { 
				/* padding-top: 15px;  */
				/*padding: 25px;*/
	}

    .post_block { 
    		border-top: 1px solid #d3d3d3; 
    		-moz-border-radius: 15px; border-radius: 15px;	 
    		background-color: #fff;
     }
    /* on hover, change the background color of the post box. removed, keeping it simple 
	.post_block:hover {
			background-color: #fcfdff;
		 	-moz-border-radius: 15px; border-radius: 15px;	 	 
	}
	*/

    a.post_block {
    		text-decoration: none; 
    		color: black;
    		vertical-align: top; 
     }  
  
    .post {
    	padding-top: 15px;
    	padding-left: 30px;
    	padding-right: 30px;
     }
	.post:hover { 
		/* background-color: #eaeaea; */
	}


    .gif { 
    		background: #fff; 
    		text-decoration: none;
    		color: black; 
    		vertical-align: top; 
    		border-color: none;
     }  
	.gif:hover { border-color: #b6c9e4; }


	/* an updated flex-video to remove padding */
	.flex-video { position: relative; padding-top: 0px; padding-bottom: 67.5%; height: 0; margin-bottom: 16px; overflow: hidden; }

	.post_menu {
	}

	.post_menu .share_menu {
		/* font-family:"Times New Roman", Times, serif; */
		padding-top: 0px;
		opacity:0.4;
		filter:alpha(opacity=40); /* For IE8 and earlier */	
	}	

	.post_menu .share_menu:hover {
		opacity:1.0;
		filter:alpha(opacity=100);  /* For IE8 and earlier */
	}


	/* Inline Link List */
	ul.inline-list, ul.link-list { margin: 0 0 17px -22px; padding: 0; list-style: none; overflow: hidden; }
	ul.inline-list > li, ul.link-list > li { list-style: none; float: left; margin-left: 22px; display: block; }
	ul.inline-list > li > *, ul.link-list > li > * { display: block; }

	.tw-nav {
			/* drop shadow on header - cool but distracting, keep it simple */
			/*	box-shadow: 1px 1px 5px 2px #d39b09; */
			/* box-shadow: 1px 1px 5px 1px #333;  */
			/* background-color: #404040; */
			opacity: 0.95;
	}

	ul.top-bar-section, li.top-bar-section, a.top-bar-section{
		/* background-color: #404040;*/
	}

	.top-bar {
		/*background-color: #404040; */
	}

	.nav-dropshadow {
		/* background: 444; */
	}

	body {-webkit-font-smoothing: antialiased;}@font-face {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 400;
	  src: url(//ssl.gstatic.com/fonts/roboto/v8/xZQOmYg4x3YaWkTJi1kErvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
	}
	@font-face {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  src: url(//ssl.gstatic.com/fonts/roboto/v8/xypMPkk3qWn0aVtKdo69mQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
	}
	@font-face {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 300;
	  src: url(//ssl.gstatic.com/fonts/roboto/v8/wdhR8z_EejC7uAMUf1gPYgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
	}

	.panel li { 
		display: inline-block;
	}

	.top-bar {
		margin-bottom: 2px;
	}

	.main {
		/* margin-top: 10px; */
		margin-top: 0px;
		background-color: none;
		border: none;
	}

	#adder {
	 /* background-color: #4ba4d5; */
	 /* background-color: #142d3a; */	 
	  background-color: #234b61;
	 color: white; display: none; z-index: 30; -moz-box-shadow:0px 3px 4px 0px rgba(119, 119, 119, 0.91); -webkit-box-shadow:0px 3px 4px 0px rgba(119, 119, 119, 0.91); box-shadow:0px 3px 4px 0px rgba(119, 119, 119, 0.91);
	}

	.panel {
		background: none;
		border: none;
	}

	.modal,
	.reveal-modal {
		border: 1px solid #b4b0a7;
		-moz-border-radius: 15px; border-radius: 15px;
	}

	/* modal hack */
	body, html
	{
		height: 100%;
	}


	.gradient {
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	}

	.gradient:hover {
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		border-color: #CCC;

	}
	.gradient2:hover {
		background: rgb(224,243,250); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,1)), color-stop(51%,rgba(184,226,246,1)), color-stop(100%,rgba(182,223,253,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
	}


	.reveal-modal-bg { background-color: black; opacity: 0.9; }

	#myModal { 
		top: 55px;
		padding: 10px;
		/*width: 50%;*/
	}

	.close-reveal-modal {
		padding: 0px;
	}